$primary-0: #f9f2ec
$primary-1: #EDDCD2
$primary-2: #DDBEA9
$primary-3: #8D7471


$secondary-0: #000000
$secondary-1: #141204
$secondary-2: #4A4132

$tertiary-0: #B7B7A4
$tertiary-1: #A5A58D
$tertiary-2: #447C38
$tertiary-3: #1B270A

$fourthary-0: #fd6e18
