@use "breakpoints"
@use "typography"
@use "colors"

label
    @include typography.input-label

input[type="text"], input[type="email"], textarea
    @include typography.text-input
    background-color: white
    border: 3px solid black
    box-shadow: 0 0 colors.$primary-3
    padding: 10px 20px
    transition: box-shadow 0.3s

    &:focus
        outline: none

    &:hover, &:focus
        box-shadow: -3px -3px colors.$primary-3

// When inputs wrapped by labels (damnit Contact Form 7)
form
    label
        input, textarea
            margin-top: 7px
            margin-bottom: 15px

// let's make all inputs take full width of form in Contact Form 7 forms
form.wpcf7-form
    input, textarea
        width: 100%