// Navigation

@mixin main-nav
  font-family: 'Vista Sans'
  font-weight: 800
  font-size: 17px
  letter-spacing: 0.8px

@mixin main-nav-mobile
  font-family: 'Vista Sans'
  font-weight: 800
  font-size: 16px
  letter-spacing: 1.1px
  line-height: 18px
  text-transform: uppercase
