@use '../base/colors'
@use '../base/typography'
@use '../base/breakpoints'

.footer 
    background-color: colors.$primary-0
    position: relative

    &__container
        display: flex
        flex-direction: column
        padding-top: 50px
        padding-bottom: 50px
        position: relative

        @include breakpoints.medium-screen
            flex-direction: row
            justify-content: space-between

    &__section
        width: 100%
        color: white
        padding: 10px 0

        @include breakpoints.medium-screen
             width: calc(50%  - 40px)

    &__section-title
        @include typography.footer-section-title
        color: colors.$secondary-2
        margin-bottom: 10px

    &__section-intro-text
        @include typography.body-copy-medium
        color: colors.$secondary-2
        margin-bottom: 13px

    &__section-content
        display: flex
        position: relative

        &:not(:last-of-type)
            margin-bottom: 20px

    &__external-link-item
        width: 50px
        height: 50px
        background-color: white

        &:not(:last-of-type)
            margin-right: 5px

    &__newsletter-form
        width: 100%
        display: flex

    &__email-input
        @include typography.footer-input
        background-color: white
        height: 100%
        border: 3px solid black
        box-shadow: -3px -3px colors.$fourthary-3 // teal
        padding: 10px 20px
        margin-right: 10px
        width: calc(100% - 162px - 10px)

    &__submit-input
        @include typography.footer-button
        background-color: black
        border: none
        height: 100%
        border: 3px solid black
        box-shadow: 0px 0px colors.$fourthary-3 // teal
        padding: 10px 20px
        cursor: pointer
        transition: box-shadow 0.3s
        border-radius: 10px
        color: colors.$primary-0
        flex-shrink: 0
        width: 162px

        &:hover
            box-shadow: -3px -3px colors.$fourthary-3


        