@use '../base/colors'
@use '../base/typography'
@use '../base/breakpoints'

%nav-link
    @include typography.nav-link
    color: colors.$secondary-2
    text-decoration: none
    cursor: default
    position: relative
    height: 40px
    display: flex
    align-items: flex-start
    flex-direction: column
    justify-content: center

    &::after
        content: ''
        display: block
        margin-top: 5px
        height: 2px
        width: 30px
        background-color: colors.$primary-2
        transform: scaleX(0)
        transform-origin: left center
        transition: transform 0.25s

    &:hover
        &::after
            transform: scaleX(1)

.header
    position: fixed
    background-color: colors.$primary-0
    width: 100%
    z-index: 100

    &__nav 
        width: 100%
        display: flex
        justify-content: space-between
        align-items: center
        height: 60px

        @include breakpoints.medium-screen
            height: 100px

    &__mobile-logo-container
        width: 100%
        display: flex
        justify-content: center
        padding-top: 20px

        @include breakpoints.medium-screen
            display: none

    &__mobile-logo
        width: 50px
        height: 50px
        background-color: pink
        border-radius: 25px

    &__logo
        width: 50px
        height: 50px
        background-color: pink
        border-radius: 25px

    &__main-nav-link-container
        width: auto
        display: flex
        justify-content: center
        position: relative

        &.\--logo
            display: none

            @include breakpoints.medium-screen
                display: flex

        a
            cursor: pointer

        @include breakpoints.medium-screen
            width: 20%

    &__main-nav-link
        @extend %nav-link

        &:hover
            .header__nav-dropdown
                display: flex !important
                transform: translateY(0)
                pointer-events: all
                opacity: 1

    &__nav-dropdown
        position: absolute
        left: -20px
        top: 100%
        background-color: colors.$primary-0
        flex-direction: column
        padding: 10px 20px
        transform-origin: top center
        transition: transform 0.3s, opacity 0.25s
        transform: translateY(-10px)
        pointer-events: none
        opacity: 0
        min-width: 160px

    &__dropdown-link
        @extend %nav-link

        &:hover
            &::after
                transform: scaleX(0.5)
            