@use '../base/colors'
@use '../base/typography'
@use '../base/breakpoints'

.show-card

    &__link
        text-decoration: none
        color: inherit

        &:hover
            .show-card__title
                text-shadow: -0.5px -0.5px colors.$fourthary-0, 0.5px 0.5px colors.$fourthary-0, 0px 0px transparent 

            .show-card__image
                transform: scale(1.1)

        &:active
            .show-card__title
                text-shadow: -5px -5px transparent, 5px 5px transparent, 2px 2px white

            .show-card__image
                transform: scale(1.01)

    &__inner-container
        display: flex
        flex-direction: column
        
        
    &__image
        vertical-align: bottom
        transition: transform 0.3s
        transform: scale(1.01)
        

    &__image-container
        border: 3px solid black
        margin-bottom: 10px
        overflow: hidden
        box-shadow: -7px -7px colors.$fourthary-1 // teal
        background-color: black

    &__title
        @include typography.card-title
        text-shadow: -5px -5px transparent, 5px 5px transparent, 2px 2px white
        transition: text-shadow 0.3s

    &__description
        @include typography.body-copy-small
        margin-top: 10px
        text-shadow: 2px 2px white

    &__hosts-container
        display: flex
        flex-direction: column
        margin-top: 10px

        @include breakpoints.medium-screen
            flex-direction: row
            align-items: center

    &__hosts-title
        @include typography.card-meta-title
        margin-right: 7px
        text-shadow: 2px 2px white
        margin-bottom: 5px

        @include breakpoints.medium-screen
            margin-bottom: 0

    &__hosts-collection
        display: flex

        @include breakpoints.medium-screen
            &:hover
                .show-card__host-container
                    &:nth-of-type(2)
                        transform: translateX(2.5px) rotateZ(0)
                    &:nth-of-type(3)
                        transform: translateX(5px) rotateZ(0)

    &__host-container 
        overflow-x: scroll
        transition: transform 0.3s

        &:nth-of-type(2)
            transform: translateX(2.5px) 
        &:nth-of-type(3)
            transform: translateX(5px)

        @include breakpoints.medium-screen
            &:nth-of-type(2)
                transform: translateX(-10px) rotateZ(-15deg)
            &:nth-of-type(3)
                transform: translateX(-20px) rotateZ(-30deg)

    &__host-link
        &:hover
            .show-card__host-image
                border-color: colors.$fourthary-0

    &__host-image
        vertical-align: bottom
        width: 35px
        height: 35px
        border-radius: 17.5px
        border: 2px solid black
        transition: border-color 0.3s
        background-color: black
